services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: take1_backend_app_dev
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
      - ./pom.xml:/app/pom.xml
      - ~/.m2:/root/.m2 # Cache local maven repo
    command: mvn spring-boot:run
    environment:
      - DB_URL=jdbc:mysql://mysql:3306/take1app?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - FIREBASE_CONFIG_PATH=/app/firebase-service-account.json
      - APP_FIREBASE_CONFIG_BASE64=${FIREBASE_CONFIG_BASE64}
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - takeone-network
    restart: unless-stopped
    develop:
      watch:
        - path: ./src
          action: sync+restart
          target: /app/src
        - path: ./pom.xml
          action: rebuild

  mysql:
    image: mysql:8.0
    container_name: take1_backend_mysql_dev
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: take1app
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    volumes:
      - mysql_dev_data:/var/lib/mysql
    networks:
      - takeone-network

  redis:
    image: redis:alpine
    container_name: take1_backend_redis_dev
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - takeone-network

volumes:
  mysql_dev_data:

networks:
  takeone-network:
    driver: bridge
