spring:
  datasource:
    url: jdbc:mysql://localhost:3306/takeone_users?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: password
    hikari:
      maximum-pool-size: 5
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  redis:
    host: localhost
    port: 6379
  
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

services:
  content-service:
    url: http://localhost:8083
  job-service:
    url: http://localhost:8086

logging:
  level:
    com.takeone: DEBUG
